.school-porject-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e0e0e034;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.school-porject-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.repo-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}