.homeDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.homeDiv > * {
  flex: 1; /* Chaque enfant prendra une part égale de l'espace disponible */
  overflow: auto; /* Assure que le contenu défile si nécessaire */
}